@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Custom Markdown Styles */
.prose h1, .prose h2, .prose h3 {
  @apply text-slate-800 font-bold;
}

.prose p {
  @apply mb-4;
}

.prose ul {
  @apply mb-4 list-disc pl-5;
}

.prose li {
  @apply mb-1;
}
